<mat-card class="item mb-4 cursor-pointer" *ngIf="task" (dblclick)="edit.emit(task)">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="task.image_url" alt="Photo of a Shiba Inu">
    <h2>{{task.title}}</h2>
    <p>{{task.description}}</p>
    <mat-card-actions class="flex justify-between">

        <mat-chip-listbox aria-label="Fish selection" (click)="toggle.emit()">
            <mat-chip-option *ngIf="task.status === 'todo'">todo</mat-chip-option>
            <mat-chip-option *ngIf="task.status === 'inProgress'">in progress</mat-chip-option>
            <mat-chip-option *ngIf="task.status === 'done'" selected>done</mat-chip-option>

        </mat-chip-listbox>
        <button mat-icon-button color="warn" (click)="deleteTask()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>