<mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Tasker</span>
</mat-toolbar>
<div class="container mx-auto relative">
    <div class="fixed bottom-2 right-2 z-50">

        <button (click)="newTask()" mat-fab color="primary">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="">
            <h2>Backlog</h2>

            <div class="border-t-4 rounded border-orange-500">
                <mat-card class="list ">

                    <div *ngIf="(todoTasks | async)?.length !== 0; else emptyList">
                        <app-task class="" *ngFor="let task of todoTasks | async" [task]="task"
                            (edit)="editTask($event)" (delete)="deleteTask(task)" (toggle)="toggleStatus(task)">
                        </app-task>
                    </div>
                    <ng-template #emptyList>
                        <p class="text-orange-300 p-1">Empty list</p>
                    </ng-template>

                </mat-card>
            </div>
        </div>

        <div class="">
            <h2>In progress</h2>

            <div class="border-t-4 rounded border-t-violet-500">
                <mat-card class="list ">
                    <div *ngIf="(inProgressTasks | async)?.length !== 0; else emptyProgress">
                        <app-task *ngFor="let task of inProgressTasks | async" [task]="task" (edit)="editTask($event)"
                            (delete)="deleteTask(task)" (toggle)="toggleStatus(task)"></app-task>
                    </div>
                    <ng-template #emptyProgress>
                        <p class="text-violet-300 p-1">Empty list</p>
                    </ng-template>
                </mat-card>
            </div>
        </div>

        <div class="">
            <h2>Done</h2>

            <div class="border-t-4 rounded border-green-500">
                <mat-card class="list">
                    <div *ngIf="(doneTasks | async)?.length !== 0; else emptyDone">
                        <app-task *ngFor="let task of doneTasks | async" [task]="task" (edit)="editTask($event)"
                            (delete)="deleteTask(task)" (toggle)="toggleStatus(task)"></app-task>
                    </div>
                    <ng-template #emptyDone>
                        <p class="text-green-300 p-1">Empty list</p>
                    </ng-template>
                </mat-card>
            </div>
        </div>
    </div>
</div>