<mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Tasker</span>
</mat-toolbar>
<div class="container mx-auto relative">
    <div class="fixed bottom-2 right-2 z-50">

        <button (click)="newTask()" mat-fab color="primary">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    <div class="container-wrapper grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="container">
            <h2>Backlog</h2>

            <mat-card class="list">

                <mat-card-content>

                    <p class="empty-label" *ngIf="!todoTasks">Empty list</p>

                    <app-task class="text-indigo-400" *ngFor="let task of todoTasks | async" [task]="task"
                        (edit)="editTask($event)" (delete)="deleteTask(task)" (toggle)="toggleStatus(task)">
                    </app-task>

                </mat-card-content>

            </mat-card>
        </div>

        <div class="container">
            <h2>In progress</h2>

            <mat-card class="list">
                <p class="empty-label" *ngIf="!inProgressTasks">Empty list</p>
                <app-task *ngFor="let task of inProgressTasks | async" [task]="task" (edit)="editTask($event)"
                    (delete)="deleteTask(task)" (toggle)="toggleStatus(task)"></app-task>
            </mat-card>
        </div>

        <div class="container">
            <h2>Done</h2>

            <mat-card class="list">
                <p class="empty-label">Empty list</p>
                <app-task *ngFor="let task of doneTasks | async" [task]="task" (edit)="editTask($event)"
                    (delete)="deleteTask(task)" (toggle)="toggleStatus(task)"></app-task>
            </mat-card>
        </div>
    </div>
</div>